# Challenge Pt 3

In [14]:
# Create direction layer for routes to 4 cities

In [15]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [16]:
gmaps.__version__

'0.9.0'

In [17]:
gmaps.configure(api_key=g_key)

In [18]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [19]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,ler,SS,80.26,8.30,30.14,NaN
1,2,chokurdakh,RU,91.42,70.63,147.92,NaN
2,3,tateyama,JP,77.00,34.98,139.87,Tateyama Seaside Hotel
3,4,kaman,IN,110.08,27.65,77.27,Khandelwal Dharmashala
4,6,villarrica,PY,68.54,-25.75,-56.43,Mansión Reljuv Tours SA

In [20]:
# Using template add the hotel plots to the heatmat
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat","Lng"]]

In [21]:
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
vacation_start = vacation_df.loc[vacation_df["City"] == "frankfurt"]
vacation_end = vacation_df.loc[vacation_df["City"] == "trondheim"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "bone"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "timra"]

In [23]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(50.12, 8.68)
(63.43, 10.4)
(51.97, 12.14)
(62.49, 17.33)

In [24]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [26]:
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
57,91,frankfurt,DE,66.99,50.12,8.68,Favored Hotel Scala Frankfurt
12,18,trondheim,NO,75.20,63.43,10.40,Comfort Hotel Trondheim
349,537,bone,DE,63.00,51.97,12.14,Sporthotel Wallwitz
177,279,timra,SE,64.99,62.49,17.33,Wifstavarfs Herrgård

In [27]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,91,frankfurt,DE,66.99,50.12,8.68,Favored Hotel Scala Frankfurt
1,18,trondheim,NO,75.20,63.43,10.40,Comfort Hotel Trondheim
2,537,bone,DE,63.00,51.97,12.14,Sporthotel Wallwitz
3,279,timra,SE,64.99,62.49,17.33,Wifstavarfs Herrgård

In [28]:
# Using template add the hotel plots to the heatmat
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat","Lng"]]

In [29]:
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))